*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2193b0,#6dd5ed);

}

.container{

background:white;

padding:30px;

border-radius:15px;

width:350px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.2);

}

h1{

margin-bottom:20px;

}

input{

width:100%;

padding:12px;

margin-bottom:15px;

font-size:16px;

}

button{

padding:12px 25px;

background:#2193b0;

color:white;

border:none;

cursor:pointer;

border-radius:5px;

font-size:16px;

}

button:hover{

background:#176d87;

}

#weather{

margin-top:25px;

}

#weather p{

margin:10px 0;

font-size:18px;

}